{% if adguard_home_container_labels_traefik_enabled %}
traefik.enable=true

{% if adguard_home_container_labels_traefik_docker_network %}
traefik.docker.network={{ adguard_home_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if adguard_home_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ adguard_home_identifier }}-slashless-redirect.redirectregex.regex=({{ adguard_home_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ adguard_home_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [adguard_home_identifier + '-slashless-redirect'] %}
{% endif %}

{% if adguard_home_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ adguard_home_identifier }}-strip-prefix.stripprefix.prefixes={{ adguard_home_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [adguard_home_identifier + '-strip-prefix'] %}
{% endif %}

{% if adguard_home_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in adguard_home_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ adguard_home_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [adguard_home_identifier + '-add-request-headers'] %}
{% endif %}

{% if adguard_home_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in adguard_home_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ adguard_home_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [adguard_home_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ adguard_home_identifier }}.rule={{ adguard_home_container_labels_traefik_rule }}
{% if adguard_home_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ adguard_home_identifier }}.priority={{ adguard_home_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ adguard_home_identifier }}.service={{ adguard_home_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ adguard_home_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ adguard_home_identifier }}.entrypoints={{ adguard_home_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ adguard_home_identifier }}.tls={{ adguard_home_container_labels_traefik_tls | to_json }}
{% if adguard_home_container_labels_traefik_tls %}
traefik.http.routers.{{ adguard_home_identifier }}.tls.certResolver={{ adguard_home_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ adguard_home_identifier }}.loadbalancer.server.port=3000
{% endif %}

{{ adguard_home_container_labels_additional_labels }}
